.element-detail{
    border: 3px solid #c8c8c8;
    display: grid;
    justify-content: center;
}
@media(max-width: 992px){
    .element-detail{
        grid-column: 1 / span all;
    }
}
.element-detail--heading{
    margin: 8px 0px;
}
.striped-box{
    min-height: 300px;
    background: repeating-linear-gradient(
    45deg,
    #F7F7F7,
    #f7f7f7 12px,
    #c8c8c8 12px,
    #c8c8c8 15px);
}